body {
    font-family: 'Corbel', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #fcd913;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

main {
    padding: 20px;
}

h2 {
    font-size: 32px;
}

form {
    margin-bottom: 20px; /* Space between forms */
    padding: 15px; /* Padding for the form */
    background-color: #f9f9f9; /* Light background for forms */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

label {
    display: block; /* Each label on a new line */
    margin-bottom: 5px; /* Space below labels */
    font-weight: bold; /* Bold labels */
}

input[type="number"],
input[type="text"],
input[type="email"],
select {
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside fields */
    margin-bottom: 15px; /* Space below fields */
    border: 1px solid #ccc; /* Border */
    border-radius: 5px; /* Rounded corners */
}

button {
    background-color: #fcd913; /* Primary yellow */
    color: #000; /* Black text */
    padding: 10px 15px; /* Padding for buttons */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
}

button:hover {
    background-color: #e0b912; /* Darker yellow on hover */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fcd913;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px; /* Mobile size for H1 */
    }
    h2 {
        font-size: 24px; /* Mobile size for H2 */
    }
    h3 {
        font-size: 20px; /* Mobile size for H3 */
    }
    h4 {
        font-size: 18px; /* Mobile size for H4 */
    }
    header {
        padding: 10px;
    }
    header h1 {
        font-size: 20px;
    }
    nav ul li {
        margin: 0 5px;
    }
    nav ul li a {
        font-size: 14px;
    }
    main {
        padding: 10px;
    }
    form {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    input[type="number"],
    input[type="text"],
    input[type="email"],
    select {
        padding: 5px;
        margin-bottom: 10px;
    }
    button {
        padding: 5px 10px;
    }
}